* {
    margin: 0px;
}

body {
    background-color: #FACDE5;
}

html {
    background-color: #FACDE5;
}

/*Header*/
#header-image {
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

@media screen and (max-width: 1000px) {
    #header-image{
        width: 95%;
    }
}

/*Highcharts Visualizations*/
.chart {
    width: 65%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 50px;
    border: 4px solid #E0218A;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #ED5C9B;
    background-color: #FFFFFF;
    padding: 20px;
}

#hairColor {
    min-height: 700px

    /*min-height: 700px;*/
}

.highcharts-root {
    font-family: 'Karla', sans-serif !important;
    font-size: 16px !important;
}
